.badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.status-active {
  background: #c8e6c9;
  color: #256029;
}

.status-inactive {
  background: #ffcdd2;
  color: #c63737;
}

.error-card {
  border: 2px solid #a5b4fc;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  width: 100%;
}

.cutoff-text {
  --max-lines: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.tooltip-pr {
  display: inline-block;
  width: 10rem;
  height: 20px;
  // border: 1px solid;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: height 2s ease-in-out;

  &:hover {
    // cursor: pointer;
    height: auto;
    white-space: initial;
  }
}

.hideLargeContent {
  max-width: 30ch;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: height 5s ease-in-out;
  text-align: justify;
}

.hideLargeContent:hover {
  height: auto;
  white-space: initial;
}

.highlight-status-disabled {
  // border-color: #256029;
  border: 2px solid #5e77f2;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px #5e77f2;
  // color: #de9a2e;
}

.highlight-status-disabled .p-inputtext:disabled {
  color: #14B8A6;
  font-weight: bold;
  opacity: 0.6;
}